<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-restaurant-heading" jhiTranslate="appTestApp.restaurant.home.createOrEditLabel">Create or edit a Restaurant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!restaurant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="restaurant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appTestApp.restaurant.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="restaurant.name" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="appTestApp.restaurant.meal" for="field_meal">Meal</label>
                    <select class="form-control" id="field_meal" multiple name="meal" [(ngModel)]="restaurant.meals">
                        <option [ngValue]="getSelected(restaurant.meals, mealOption)" *ngFor="let mealOption of meals; trackBy: trackMealById">{{mealOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
